.g-bd, .g-bd-list {
    z-index: 1;
    position: relative;
}
.f-margin-top-50 {
    margin-top: 50px;
}
.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.g-panel {
    margin-bottom: 36px;
}
.w-panel {
    background-color: #fff;
}
.m-table, .w-panel {
    border: 1px solid #e8e8e8;
}
.w-panel .hd {
    padding-left: 21px;
    background-color: #f5f5f5;
}
.m-table .headBg, .w-panel .hd {
    height: 42px;
    border-bottom: 1px solid #e8e8e8;
}
.m-table .thead, .w-panel .hd {
    line-height: 41px;
    color: #999;
}
.f-fz14 {
    font-size: 14px;
}
.m-orderAddress {
    padding: 30px 0 30px 30px;
}
.m-addressAdd .m-form-addr {
    float: left;
}
.m-form-addr {
    font-size: 14px;
    width: 617px;
}
.m-form-addr .w-row-addr {
    margin-top: 20px;
    line-height: 1;
    position: relative;
}
.m-form-addr .w-col-4 {
    font-size: 0;
}
.m-form-addr .w-col-1, .m-form-addr .w-col-2, .m-form-addr .w-col-3, .m-form-addr .w-col-4, .m-form-addr .w-col-5 {
    float: left;
    position: relative;
}
.m-form-addr .w-label {
    width: 67px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-orderAddress {
    padding: 30px 0 30px 30px;
}
.m-orderAddress:after, .m-orderAddress:before {
    content: " ";
    display: table;
}

.m-addressAdd .m-form-addr {
    float: left;
}
.m-form-addr {
    font-size: 14px;
    width: 617px;
}
.m-form-addr .w-row-addr {
    margin-top: 20px;
    line-height: 1;
    position: relative;
}
.m-form-addr .w-col-4 {
    font-size: 0;
}
.m-form-addr .w-label {
    width: 67px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.m-form-addr .w-col-1, .m-form-addr .w-col-2, .m-form-addr .w-col-3, .m-form-addr .w-col-4, .m-form-addr .w-col-5 {
    float: left;
    position: relative;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-form-addr .w-error-warp {
    display: inline-block;
    position: relative;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-form-addr .mgr10 {
    margin-right: 10px;
}
.m-form-addr .w-select {
    width: 170px;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.w-select {
    width: 140px;
    line-height: 28px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
}
.w-ipt, .w-select {
    height: 28px;
    color: #333;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.m-form-addr .w-error-warp {
    display: inline-block;
    position: relative;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.m-form-addr .mgr10 {
    margin-right: 10px;
}
.m-form-addr .w-select {
    width: 167px;
}
.m-form-addr .w-col-4 * {
    font-size: 14px;
    line-height: 14px;
}
.w-error-warp {
    display: inline-block;
    position: relative;
}
.w-select {
    width: 170px;
    line-height: 28px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
}
.w-ipt, .w-select {
    height: 28px;
    color: #333;
}
.m-form-addr .w-row-addr {
    margin-top: 20px;
    line-height: 1;
    position: relative;
}
.m-form-addr .w-col-4 {
    font-size: 0;
}
.m-form-addr .w-col-1, .m-form-addr .w-col-2, .m-form-addr .w-col-3, .m-form-addr .w-col-4, .m-form-addr .w-col-5 {
    float: left;
    position: relative;
}
.m-form-addr .w-label {
    width: 67px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.m-form-addr .w-textarea textarea {
    height: 70px;
    background-color: #fff;
    padding: 9px;
    width: 530px;
    box-sizing: border-box;
}
.w-textarea textarea {
    display: block;
    height: 108px;
    padding: 20px 17px;
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
textarea {
    width: 100%;
    resize: none;
    overflow: auto;
}
.m-form-addr .w-row-addr {
    margin-top: 20px;
    line-height: 1;
    position: relative;
}
.m-form-addr .w-col-2 {
    width: 287px;
    font-size: 0;
}
.m-form-addr .w-col-1, .m-form-addr .w-col-2, .m-form-addr .w-col-3, .m-form-addr .w-col-4, .m-form-addr .w-col-5 {
    float: left;
    position: relative;
}
.m-form-addr .mgr43 {
    margin-right: 43px;
}
.m-form-addr .w-label {
    width: 67px;
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.m-form-addr .w-ipt {
    width:200px;
    height: 34px;
}
.m-form-addr .w-col-2 {
    width: 287px;
    font-size: 0;
}
.m-form-addr .w-label {
    width: 67px;
    margin-right: 20px;
    margin-top: 6px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}
.m-form-addr .w-ipt {
    width: 200px;
    height: 34px;
}
.w-ipt {
    width: 140px;
    line-height: 28px;
    border: 1px solid #ddd;
    font-size: 12px;
    padding-left: 9px;
}
.w-ipt, .w-select {
    height: 28px;
    color: #333;
}
.m-operateButtons {
    margin-top: 20px;
    margin-left: 40px;
    width: 360px;
    padding: 57px 0 43px 56px;
    border-left: 1px dashed #dedede;
}
.f-left{
    float: left;
}
.m-operateButtons .w-row-addr-1 {
    width: auto;
    margin-top: 0;
}
.m-operateButtons .w-col-1 {
    width: auto;
    margin-left: 0;
    position: relative;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.w-chkbox>input, .widget-checkbox {
    background-position: 0 -84px;
    height: 18px;
    width: 18px;
}
.w-chkbox>input, .w-icon-widget, .w-radio>input {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/widget-s3bba68e5d5-1a8b9b9445.png);
    background-repeat: no-repeat;
}
.w-chkbox>span {
    margin-left: 14px;
}
.w-chkbox>a, .w-chkbox>label, .w-chkbox>span, .w-radio>a, .w-radio>label, .w-radio>span {
    vertical-align: middle;
}
.m-addressAdd .mgr24 {
    margin-top: 24px;
}
.m-operateButtons .w-col-1 {
    width: auto;
    margin-left: 0;
    position: relative;
}
.w-button-l {
    width: 144px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
}
.w-button-primary {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
}
.w-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 96px;
    height: 28px;
    padding: 0;
    letter-spacing: normal;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.w-button-l {
    width: 144px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
}
.w-button-ghost {
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
}
.w-button, textarea {
    vertical-align: middle;
}
.m-operateButtons .w-button-ghost {
    margin-left: 10px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.w-button-primary:hover {
    color: #fff;
    border: 1px solid #c0ae8a;
    background-color: #c0ae8a;
}
.w-button-ghost {
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
}
.w-button-l {
    width: 144px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
}
.f-ib, .m-customLightbox .close, .m-customLightbox .slick .slick-arrow, .m-detail-tipTag:before, .m-dropdown .wrap:before, .m-funcTab .tab-logo, .m-funcTab-fixed .tab-logo-fixed, .m-funcTab-fixed .user .icon, .m-pop .w-close, .m-pop .w-close:hover, .m-pop .w-status, .m-pop-express .m-content .w-expInfo .icon-express, .m-pop-express .m-content .w-expdetail .dot, .m-reasonLightbox .slick-next.slick-disabled, .m-reasonLightbox .slick-prev.slick-disabled, .m-report-modal .modal .modal-body .close, .m-report-modal .modal .modal-body .slick-arrow, .m-slick .leftArrow, .m-slick .rightArrow, .m-tipTag:before, .w-button, .w-chkbox.s-gold>input, .w-chkbox>input, .w-dropdown .dropdownMenu:before, .w-icon-arrow, .w-icon-bank, .w-icon-cart, .w-icon-close, .w-icon-common, .w-icon-coupon, .w-icon-fixedtool, .w-icon-foot, .w-icon-header, .w-icon-member, .w-icon-normal, .w-icon-payMethod, .w-icon-phone, .w-icon-sns, .w-icon-story, .w-icon-topic, .w-icon-widget, .w-icon-widgetGold, .w-linkicon, .w-linkicon .txt, .w-radio.s-gold-new>input, .w-radio.s-gold>input, .w-radio>input, .w-tipMsg-fail .icon, .w-tipMsg-success .icon, .w-toolTip-coupon .toolTip-triangle, .w-txticon, .w-txticon .txt {
    display: -moz-inline-stack;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
}
.g-itemInfo {
    margin-bottom: 96px;
}
.m-table {
    font-size: 14px;
}
.m-table {
    position: relative;
    width: 100%;
    padding: 0 21px;
    background-color: #fff;
}
.m-table, .w-panel {
    border: 1px solid #e8e8e8;
}
.m-table .theadBg {
    position: absolute;
    height: 42px;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.m-table>table {
    position: relative;
    z-index: 1;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.m-table .hd {
    line-height: 41px;
    height: 42px;
    color: #999;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.f-txt
{
    text-align: left!important;
}
.m-table .tbody {
    padding: 20px 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.m-table .tbody .tr:first-child {
    border-top: 0;
}
.m-table .tbody .tr {
    line-height: 1;
}
.m-table .tbody .tr {
    border-top: 1px dashed #dedede;
    line-height: 20px;
}
.m-tbody td {
    padding: 20px 0;
    vertical-align: top;
}
.m-itemInfoTd .imgWrap {
    position: relative;
}
.m-itemInfoTd .infoWrap {
    position: relative;
    padding-left: 10px;
    margin-left: 100px;
    height: 100px;
    padding-top: 7px;
}
.f-txtleft {
    text-align: left!important;
}
.m-itemInfoTd .infoWrap .name {
    max-width: 210px;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.m-itemInfoTd .infoWrap .line.line1 {
    padding-top: 10px;
    font-size: 12px;
    color: #999;
}


.m-itemInfoTd .infoWrap .line {
    line-height: 1;
    max-width: 248px;
    overflow: hidden;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.m-tbody td .tdWrap {
    padding-top: 7px;
}
.m-tbody .m-itemPriceTd .priceWrap {
    overflow: hidden;
    display: inline-block;
}
.m-tbody .m-itemPriceTd .retailPrice {
    padding-right: 5px;
    float: left;
}
.m-invoice {
    min-height: 82px;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding-left: 50px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.m-invoice, .m-pop-invoiceInfo .bd .m-orderFormItem .w-itemInput .g-historyInput .m-list .hl-item:hover {
    background-color: #f5f5f5;
}
.m-invoice .tt {
    padding: 20px 0 12px;
    color: #999;
    line-height: 1;
}
.w-link, .w-link:hover {
    color: #69c;
}
.m-invoice .tt .icon-normal-ask, .m-pop-invoiceInfo .ml10 {
    margin-left: 10px;
}
.icon-normal-ask {
    background-position: 0 -238px;
    height: 14px;
    width: 14px;
}
.m-customLightbox .slick .slick-arrow, .m-detail-tipTag:before, .m-pop .w-status, .m-pop-express .m-content .w-expInfo .icon-express, .m-pop-express .m-content .w-expdetail .dot, .m-reasonLightbox .slick-next.slick-disabled, .m-reasonLightbox .slick-prev.slick-disabled, .m-report-modal .modal .modal-body .slick-arrow, .m-slick .leftArrow, .m-slick .rightArrow, .m-tipTag:before, .w-icon-normal, .w-tipMsg-fail .icon, .w-tipMsg-success .icon, .w-toolTip-coupon .toolTip-triangle {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s5b20ce4e80-8530a93965.png);
    background-repeat: no-repeat;
}
.m-invoice {
    min-height: 82px;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding-left: 50px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.m-invoice .w-chkbox {
    width: 97px;
    font-size: 14px;
    height: 18px;
    float: left;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.w-chkbox>input, .widget-checkbox {
    background-position: 0 -84px;
    height: 18px;
    width: 18px;
}
.w-chkbox>input, .w-icon-widget, .w-radio>input {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/widget-s3bba68e5d5-1a8b9b9445.png);
    background-repeat: no-repeat;
}
.w-chkbox>span {
    margin-left: 14px;
}
.m-invoice .invoice-info {
    margin-left: 115px;
    color: #999;
}
.m-itemInfoFt {
    padding: 40px 40px 40px 50px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-top: 0;
    height: 264px;
}
.m-itemInfoFt .left, .m-itemInfoFt .left .cancelAndMsg .msg, .m-itemInfoFt .left .hd .cancelCoupon, .m-itemInfoFt .left .hd .coupon {
    float: left;
}
.m-itemInfoFt .left .tt {
    font-size: 14px;
    color: #999;
    line-height: 1;
}
.m-itemInfoFt .left .tt .icon-normal-ask {
    margin-left: 10px;
}
.icon-normal-ask {
    background-position: 0 -238px;
    height: 14px;
    width: 14px;
}
.m-customLightbox .slick .slick-arrow, .m-detail-tipTag:before, .m-pop .w-status, .m-pop-express .m-content .w-expInfo .icon-express, .m-pop-express .m-content .w-expdetail .dot, .m-reasonLightbox .slick-next.slick-disabled, .m-reasonLightbox .slick-prev.slick-disabled, .m-report-modal .modal .modal-body .slick-arrow, .m-slick .leftArrow, .m-slick .rightArrow, .m-tipTag:before, .w-icon-normal, .w-tipMsg-fail .icon, .w-tipMsg-success .icon, .w-toolTip-coupon .toolTip-triangle {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s5b20ce4e80-8530a93965.png);
    background-repeat: no-repeat;
}
.m-activeForm {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1;
}
.m-itemInfoFt .left .hd:after, .m-itemInfoFt .left .hd:before, .m-itemInfoFt:after, .m-itemInfoFt:before {
    display: table;
    content: " ";
}
.m-itemInfoFt .left .hd:after, .m-itemInfoFt .left .hd:before, .m-itemInfoFt:after, .m-itemInfoFt:before {
    display: table;
    content: " ";
}
.m-activeForm, .m-activeForm .m-activateCouponIpt .ft, .m-activeForm .m-giftCardIpt .ft, .m-tabSelect {
    position: relative;
}
.m-itemInfoFt .left .tt {
    font-size: 14px;
    color: #999;
    line-height: 1;
}
.m-activeForm .tt {
    color: #73a0cf!important;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px!important;
}
.m-activeForm .tt .arrow-down-blue, .m-activeForm .tt .arrow-up-blue {
    margin-left: 10px;
    position: relative;
    left: 0;
    top: 4px;
}
.m-payItemsInfo .line4 {
    margin-bottom: 20px;
    padding-top: 24px;
    border-top: 1px solid #e8e8e8;
    font-size: 14px;
    width: 280px;
    display: inline-block;
}
.m-payItemsInfo .line1, .m-payItemsInfo .line2, .m-payItemsInfo .line3, .m-payItemsInfo .line4 {
    text-align: right;
}
.arrow-down-blue {
    background-position: 0 -17px;
    height: 5px;
    width: 10px;
}
.m-dropdown .wrap:before, .w-dropdown .dropdownMenu:before, .w-icon-arrow {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-se6b614212b-19f267212a.png);
    background-image: -webkit-image-set(url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-se6b614212b-19f267212a.png) 1x,url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/arrow-sdab2ddc927-7a8666dd0a.png) 2x);
    background-repeat: no-repeat;
}
.m-itemInfoFt .left .splitLine {
    margin-bottom: 24px;
    margin-top: 24px;
    border-top: 1px dashed #ddd;
    width: 400px;
}
.m-itemInfoFt .left .hd {
    margin-bottom: 12px;
    margin-top: 12px;
}
.m-activeForm {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1;
}
.m-confirmPayInfo {
    float: right;
    text-align: right;
    position: relative;
    top: -20px;
}
.m-confirmPayInfo {
    float: right;
    text-align: right;
    position: relative;
    top: -20px;
}
.m-payItemsInfo .line1, .m-payItemsInfo .line2 {
    margin-bottom: 20px;
}
.m-payItemsInfo .line1, .m-payItemsInfo .line2, .m-payItemsInfo .line3 {
    font-size: 14px;
}
.m-payItemsInfo .line1 label span, .m-payItemsInfo .line2 label span, .m-payItemsInfo .line3 label span, .m-payItemsInfo .line4 label span {
    margin: 0 6px;
}
.m-confirmPayInfo .amount {
    width: 90px;
    display: inline-block;
}
.m-payItemsInfo .line4 .amount {
    font-weight: 700;
    color: #d4282d;
    font-size: 20px;
}
.m-payItemsInfo .line4 label {
    padding-right: 30px;
}
.m-confirmPayInfo .line5 .agreement, .m-confirmPayInfo .line5 .checkbox, .m-confirmPayInfo .line5 .submit {
    float: right;
    vertical-align: middle;
}
.w-button-primary:hover {
    color: #fff;
    border: 1px solid #c0ae8a;
    background-color: #c0ae8a;
}
.w-button-xl {
    width: 168px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.m-agreement, .m-itemInfoFt .left .w-payPwd, .m-itemInfoFt .left .w-payPwd .msg {
    margin-top: 10px;
}
.m-agreement .agreement {
    margin-right: 40px;
}
.m-agreement .agreement, .m-agreement .checkbox {
    float: right;
}
.w-link, .w-link:hover {
    color: #69c;
}
.m-agreement .checkbox {
    margin-right: 10px;
}
.m-agreement .agreement, .m-agreement .checkbox {
    float: right;
}
.w-chkbox>input:checked, .w-chkbox>input[checked=checked], .widget-checkbox-sel {
    background-position: 0 -56px;
    height: 18px;
    width: 18px;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.icon-normal-ask {
    background-position: 0 -238px;
    height: 14px;
    width: 14px;
}
.m-orderAddress .left {
    float: left;
    width: 805px;
}
.m-address {
    font-size: 14px;
}
.m-showAddress .line:first-child {
    margin: 0;
}

.m-orderAddress .icon-normal-address-default {
    position: relative;
    top: 4px;
}
.icon-normal-address-default {
    background-position: 0 -60px;
    height: 23px;
    width: 23px;
}
.m-customLightbox .slick .slick-arrow, .m-detail-tipTag:before, .m-pop .w-status, .m-pop-express .m-content .w-expInfo .icon-express, .m-pop-express .m-content .w-expdetail .dot, .m-reasonLightbox .slick-next.slick-disabled, .m-reasonLightbox .slick-prev.slick-disabled, .m-report-modal .modal .modal-body .slick-arrow, .m-slick .leftArrow, .m-slick .rightArrow, .m-tipTag:before, .w-icon-normal, .w-tipMsg-fail .icon, .w-tipMsg-success .icon, .w-toolTip-coupon .toolTip-triangle {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s5b20ce4e80-8530a93965.png);
    background-repeat: no-repeat;
}
.m-orderAddress .modifyBtn {
    width: 60px;
    margin-left: 20px;
}
.w-button-ghost {
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
}
.m-showAddress .line {
    margin-top: 15px;
}
.m-address .line {
    line-height: 24px;
}
.m-address .line .label {
    color: #999;
    width: 80px;
    text-align: center;
}
.m-address .line .label, .m-address .line .text {
    float: left;
    max-width: 720px;
}
.m-address .line .label, .m-address .line .text {
    float: left;
    max-width: 720px;
}
.m-orderAddress .right {
    float: right;
    width: 253px;
    height: 58px;
    border-left: 1px solid #e8e8e8;
    text-align: center;
    margin-top: 44px;
}
.m-orderAddress .right .changeAddress {
    line-height: 1;
    margin-bottom: 16px;
}
.add_address{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index:99999999;
    position: fixed;
}