body{
	background: #000;
    opacity: .2;
}
.yx-bd-c-r{
	height: 650px;
	background: #fff;
}
.yx-bd-c-r .as-nd-show{
    width: 697px;
    height: 370px;
    padding: 30px 40px 0;
	position: relative;
	background: red;
}