* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.g-bd, .g-bd-list {
    z-index: 1;
    position: relative;
}
.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.m-cart .tt {
    margin-bottom: 20px;
    padding: 12px 0;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}
.m-cart .tt:after, .m-cart .tt:before {
    content: " ";
    display: table;
}
.m-cart .tt .left {
    text-align: left;
}
.m-cart .tt .w {
    float: left;
    text-align: center;
    font-size: 13px;
}
.m-cart .w1 {
    width: 158px;
}
.m-cart .tt .w-chkbox {
    margin-left: 20px;
}
.m-cart .tt .all {
    color: #333;
}
.w-chkbox>span {
    margin-left: 14px;
}
.m-cart .tt .left {
    text-align: left;
}
.m-cart .w2 {
    width: 260px;
}
.m-cart .w3, .m-cart .w4, .m-cart .w5 {
    width: 180px;
}
.m-cart .tt .w-2 {
    text-align: right;
}
.m-cart .tt .last, .m-cart .tt .w-2 {
    padding-right: 30px;
}
.m-cart .tt .w-1 {
    text-align: left;
    padding-left: 31px;
}
.w-chkbox>input:checked, .w-chkbox>input[checked=checked], .widget-checkbox-sel {
    background-position: 0 -56px;
    height: 18px;
    width: 18px;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.w-chkbox>input, .widget-checkbox {
    background-position: 0 -84px;
    height: 18px;
    width: 18px;
}
.w-chkbox>input, .w-icon-widget, .w-radio>input {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/widget-s3bba68e5d5-1a8b9b9445.png);
    background-repeat: no-repeat;
}
.m-cart .cart-group {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.m-cart .cart-item-last {
    border-bottom: none!important;
}
.m-cart .cart-item {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px dashed #eaeaea;
}
.f-cb, .m-hrz {
    zoom: 1;
}
.m-cart .cart-item .item {
    float: left;
    text-align: center;
    position: relative;
    color: #999;
}
.m-cart .w7 {
    width: 58px;
}
.m-cart .cart-item .item .w-chkbox {
    margin-top: 40px;
}
.w-chkbox>input:checked, .w-chkbox>input[checked=checked], .widget-checkbox-sel {
    background-position: 0 -56px;
    height: 18px;
    width: 18px;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.w-chkbox>input, .widget-checkbox {
    background-position: 0 -84px;
    height: 18px;
    width: 18px;
}
.w-chkbox>input, .w-icon-widget, .w-radio>input {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/widget-s3bba68e5d5-1a8b9b9445.png);
    background-repeat: no-repeat;
}
.w-chkbox>input{
        display: -moz-inline-stack;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
}
.m-cart .w8 {
    width: 360px;
}
.m-cart .cart-item .item .pic {
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border: 1px solid #eaeaea;
}
.m-cart .cart-item .item .pic img {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
.m-cart .cart-item .item .nameCon {
    padding-top: 10px;
    text-align: left;
    width: 260px;
    padding-left: 20px;
    float: left;
    overflow: hidden;
    line-height: 1;
}
.f-text-overflow, .m-hrz .w-txticon .txt, .m-product .desc, .m-product .name, .w-linkicon .txt {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.m-cart .cart-item .item .nameCon a.pname {
    font-size: 14px;
    display: block;
}
.f-word-break {
    word-wrap: break-word;
}
.m-cart .cart-item .item .spec {
    color: #999;
    padding-top: 9px;
    line-height: 16px;
    text-align: left;
    font-size: 13px;
    cursor: pointer;
}
.m-cart .cart-item .item .spec>a, .m-cart .cart-item .item .spec>a:hover {
    color: #999;
    position: relative;
    max-width: 180px;
    display: inline-block;
}
.m-cart .cart-item .item .spec .arrow-down-hollow-gray-s {
    position: relative;
    margin-left: 8px;
    top: 8px;
}
.arrow-down-hollow-gray-s {
    background-position: 0 -137px;
    height: 4px;
    width: 10px;
}
.w-icon-arrow{
        background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-se6b614212b-19f267212a.png);
    background-image: -webkit-image-set(url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-se6b614212b-19f267212a.png) 1x,url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/arrow-sdab2ddc927-7a8666dd0a.png) 2x);
    background-repeat: no-repeat;
}
.m-cart .cart-item .item-1, .m-cart .cart-item .item-2, .m-cart .cart-item .item-3, .m-cart .cart-item .item-4 {
    padding-top: 10px;
}
.m-cart .w3, .m-cart .w4, .m-cart .w5 {
    width: 180px;
}
.u-selnum {
    border: 1px solid #ddd;
    overflow: hidden;
}
.m-crumbs-filter .crumb-url:hover .close8-hover, .u-selnum {
    display: inline-block;
}
.u-selnum-cart .less, .u-selnum-cart .more, .u-selnum-cart input {
    width: 24px;
    height: 24px;
    line-height: 22px;
}
.u-selnum .less {
    border-right: 1px solid #ddd;
}
.u-selnum .z-dis {
    cursor: not-allowed;
}
.u-selnum .less, .u-selnum .more, .u-selnum input {
    position: relative;
    float: left;
    width: 36px;
    height: 30px;
    line-height: 28px;
    background: #fff;
}
.u-selnum .z-dis .hx, .u-selnum .z-dis .sx {
    background: #d3d3d3;
}
.u-selnum-cart .hx {
    top: 11px;
    left: 7px;
    width: 10px;
}
.u-selnum .hx {
    top: 15px;
    left: 12px;
    width: 10px;
}
.u-selnum .hx, .u-selnum .sx {
    position: absolute;
    width: 2px;
    height: 2px;
    overflow: hidden;
    background: #999;
}
.u-selnum-cart input {
    width: 58px;
}
.u-selnum-cart .less, .u-selnum-cart .more, .u-selnum-cart input {
    width: 24px;
    height: 24px;
    line-height: 22px;
}
.u-selnum input {
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    width: 60px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: #333;
}
.u-selnum .less, .u-selnum .more, .u-selnum input {
    position: relative;
    float: left;
    background: #fff;
}
.u-selnum .more {
    border-left: 1px solid #ddd;
}
.u-selnum-cart .hx {
    top: 11px;
    left: 7px;
    width: 10px;
}
.u-selnum .hx {
    top: 15px;
    left: 12px;
    width: 10px;
}
.u-selnum .hx, .u-selnum .sx {
    position: absolute;
    width: 2px;
    height: 2px;
    overflow: hidden;
    background: #999;
}
.u-selnum-cart .sx {
    top: 7px;
    left: 11px;
    height: 10px;
}
.m-cart .cart-item .item p.price {
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 14px;
}
.m-cart .cart-item .item .aprice {
    color: #333;
}
.m-cart .cart-item .item p.price {
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 14px;
}
.m-cart .cart-item .item .preselldesc {
    color: #E36844;
    font-size: 14px;
    line-height: 1;
}
.u-selnum-cart .hx {
    top: 11px;
    left: 7px;
    width: 10px;
}
.u-selnum-cart input {
    width: 58px;
}
.m-cart .cart-item .item p.price {
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 14px;
}
.m-cart .cart-item .item-3 p.price {
    text-align: right!important;
    padding-right: 30px;
}
.m-cart .cart-item .item .sprice {
    color: #d4282d;
}
.m-cart .cart-item .item-5 .operate {
    padding-top: 10px;
    line-height: 1;
}
.m-cart .cart-item .item-5 .operate a {
    color: #666;
    font-size: 14px;
}
.m-cart .cart-item .item-5 {
    text-align: left;
    padding-left: 31px;
}
.m-cart .cart-total:after, .m-cart .cart-total:before {
    content: " ";
    display: table;
}
.m-cart .cart-total {
    font-size: 14px;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    height: 66px;
}
.m-cart .cart-total .w-chkbox {
    position: absolute;
    top: 24px;
    left: 22px;
}
.w-chkbox>input:checked, .w-chkbox>input[checked=checked], .widget-checkbox-sel {
    background-position: 0 -56px;
    height: 18px;
    width: 18px;
}
.w-chkbox.s-gold>input, .w-chkbox>input {
    width: 18px;
    height: 18px;
    vertical-align: middle!important;
}
.w-chkbox>input, .w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle!important;
    border: 0;
}
.w-chkbox>input, .widget-checkbox {
    background-position: 0 -84px;
    height: 18px;
    width: 18px;
}
.w-chkbox>input, .w-icon-widget, .w-radio>input {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/widget-s3bba68e5d5-1a8b9b9445.png);
    background-repeat: no-repeat;
}
.w-chkbox>span {
    margin-left: 14px;
}
.m-cart .cart-total .mgl30 {
    margin-left: 30px;
}
.f-fr, .m-hrz .m-wrap-right {
    float: right;
    display: inline;
}
.m-cart .cart-total .w-button {
    border-radius: 0;
    width: 140px;
    height: 66px;
    margin-top: -1px;
    margin-right: -1px;
}
.w-button-xl {
    width: 168px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.w-button-primary {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
}
.w-button, .w-linkicon:hover .txt {
    cursor: pointer;
}
.m-cart .cart-total .mgr25 {
    margin-right: 25px;
}
.f-fr, .m-hrz .m-wrap-right {
    float: right;
    display: inline;
}
.m-cart .cart-total .info .line {
    padding-top: 8px;
    text-align: right;
    overflow: hidden;
    height: 38px;
    font-size: 14px;
}
.m-cart .cart-total .info .mgr, .m-cart .cart-total .info .tip {
    font-size: 14px;
    height: 33px;
    line-height: 30px;
}
.m-cart .cart-total .info .tip {
    display: inline-block;
    margin-right: 10px;
}
.m-cart .cart-total .info .mgr, .m-cart .cart-total .info .tip {
    font-size: 14px;
    height: 33px;
    line-height: 30px;
}
.m-cart .cart-total .info .line .con, .m-cart .cart-total .info .line .item {
    color: #999;
    line-height: 1;
}
.m-cart .cart-total .mgr10 {
    margin-right: 10px;
}
.m-cart .cart-total .info .line {
    padding-top: 8px;
    text-align: right;
    overflow: hidden;
    height: 38px;
    font-size: 14px;
}
.m-cart .cart-total .info .mgr, .m-cart .cart-total .info .tip {
    font-size: 14px;
    height: 33px;
    line-height: 30px;
}
.f-fr, .m-hrz .m-wrap-right {
    float: right;
    display: inline;
}
.m-cart .cart-total .info .price {
    font-size: 22px;
    color: #d4282d;
    font-weight: 700;
    padding-left: 10px;
}
.f-fl, .m-hrz .m-ipt, .m-hrz .m-wrap, .m-hrz .w-hrzsplite {
    float: left;
    display: inline;
}

.m-cart .cart-total .info .line {
    padding-top: 8px;
    text-align: right;
    overflow: hidden;
    height: 38px;
    font-size: 14px;
}
.m-cart .cart-total .info .line-1 {
    height: auto;
    padding-top: 2px;
    line-height: 1;
}
.m-cart .cart-total .info .line .freight-tip {
    color: #d3282d;
}
.hd>a:hover img{
    transform: scale(1.05,1.05);
}
.hd>a img{
    position: relative;
    top: 0;
    left: 0;
    transition: 1s;
}