.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.g-row:after, .g-row:before {
    content: " ";
    display: table;
}
.m-cart {
    padding-bottom: 40px;
    margin-top: 20px;
}
.m-cart .cart-empty {
    position: relative;
    padding: 165px 0 185px;
    border: 1px solid #ddd;
}
.eggContainer {
    left: -116px;
    bottom: 156px;
    cursor: pointer;
     width: 96px;
    height: 98px;
    position: absolute;
}
.eggContainer .egg {
    z-index: 1;
    transform-origin: bottom;
    background-image: url(../images/9ecf29946caade58b7871dd3f205942f.png);
    background-repeat: no-repeat;
}
.eggContainer .egg .text {
    display: inline-block;
    height: 100%;
    transform-origin: bottom;
    background-image: url(../images/ad649c423d4964932a9eb6f0e5a7b5e4.png);
}
.eggContainer .nestMask {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 28px;
    background-image: url(../images/0776b869f01f712f856a089729a7e643.png);
}
.eggContainer .nest {
    position: absolute;
    bottom: 0;
    height: 44px;
    background-image: url(../images/6b6a1b86cf91e00440d3ad7b4d1626e6.png);
}
.eggContainer, .eggContainer .egg {
    width: 96px;
    height: 98px;
    position: absolute;
}
.eggContainer .egg .text, .eggContainer .nest, .eggContainer .nestMask {
    width: 100%;
    background-repeat: no-repeat;
}
.eggContainer .egg .text, .eggContainer .nest, .eggContainer .nestMask {
    width: 100%;
    background-repeat: no-repeat;
}
.m-cart .cart-empty .warp {
    width: 240px;
    margin: 0 auto;
    text-align: center;
}
.cart-emptycart {
    background-position: 0 -97px;
    height: 50px;
    width: 53px;
}
.w-icon-cart {
    background-image: url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/cart-s60a1b1ed02-13bd136ac9.png);
    background-image: -webkit-image-set(url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/cart-s60a1b1ed02-13bd136ac9.png) 1x,url(//mimg.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/cart-s5d09f2680c-4cf0a2fa18.png) 2x);
    background-repeat: no-repeat;
}
.cart-emptycart {
    background-position: 0 -97px;
    height: 50px;
    width: 53px;
}
.w-icon-cart {
    background-image: url(../images/cart.png);
    background-repeat: no-repeat;
}
.m-cart .cart-empty .warp .text {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}
.m-cart .cart-empty .warp .btnLine {
    margin-top: 20px;
}
.m-cart .cart-empty .warp .btnLine .w-button-primary {
    color: #fff;
    margin-right: 18px;
}
.m-cart .cart-empty .warp .btnLine .w-button-ghost {
    color: #b4a078;
}
.m-cart .cart-empty .warp .btnLine .w-button-ghost, .m-cart .cart-empty .warp .btnLine .w-button-primary {
    height: 38px;
    width: 98px;
    font-size: 16px;
    line-height: 38px;
}
.w-button-ghost {
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
}
.w-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 96px;
    height: 28px;
    padding: 0;
    letter-spacing: normal;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
}
.w-button, .w-linkicon:hover .txt {
    cursor: pointer;
}
.w-button, textarea {
    vertical-align: middle;
}
.m-cart .cart-empty .warp {
    width: 240px;
    margin: 0 auto;
    text-align: center;
}
.m-cart .cart-empty .warp {
    width: 240px;
    margin: 0 auto;
    text-align: center;
}
.m-cart .cart-empty .warp .btnLine .w-button-primary {
    color: #fff;
    margin-right: 18px;
}
.w-button-primary {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
}
.w-button-ghost {
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
}
.m-slickWarp {
    border: 1px solid #e8e8e8;
    margin-bottom: 80px;
}
.m-slickWarp .slickHead {
    background-color: #f5f5f5;
    overflow: hidden;
}
.m-slickWarp .slickHead .title {
    padding-left: 22px;
    line-height: 44px;
    font-size: 17px;
    height: 44px;
}
.m-slick {
    zoom: 1;
    overflow: hidden;
    position: relative;
}
.m-slick .slickContent {
    overflow: hidden;
    margin-top: 12px;
    margin-left: 79px;
    width: 930px;
    height: 307px;
}
.m-slick .slickItemList {
    margin-right: -30px;
}
.slick-slider {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
    display: block;
    position: relative;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-list {
    z-index: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list, .slick-slider, .slick-track {
    display: block;
    position: relative;
}
.slick-track {
    top: 0;
    left: 0;
}
.slick-list, .slick-slider, .slick-track {
    display: block;
    position: relative;
}
.m-slick .slickItemList .item {
    margin-bottom: 0;
    margin-right: 30px;
}
.slick-initialized .slick-slide {
    display: block;
}
.m-itemList .item {
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.m-slick .slickItemList .item .m-product .hd {
    margin-bottom: 0;
    background-color: #fff;
}
.m-product .hd {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f4f4f4;
}
.m-slick .slickItemList .item .m-product .img {
    width: 210px;
    height: 210px;
    background-color: #fff;
}
.m-product .img {
    width: 245px;
    height: 245px;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
    background-color: #f4f4f4;
    border: 1px solid transparent;
    color: #f4f4f4;
    display: block;
    margin: 0 auto;
}
.m-product .prdtTags {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}
.m-product h4.name {
    padding: 0 10px;
}
.m-product .name {
    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;
}
.m-product .price {
    color: #d4282d;
    text-align: center;
}
.m-product .price span {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
}
.m-product {
    line-height: 1;
    text-align: center;
    font-size: 13px;
    width: 245px;
    height: 361px;
    position: relative;
}
a {
    color: #333;
}
.icon-normal-leftRound-disabled, .m-reasonLightbox .slick-prev.slick-disabled, .m-slick .leftArrow.slick-disabled {
    background-position: 0 -2373px;
    height: 30px;
    width: 30px;
}
.m-slick .leftArrow {
    left: 26px;
}
.m-slick .slickArrow {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}
.icon-normal-leftRound, .m-slick .leftArrow {
    background-position: 0 -2453px;
    height: 30px;
    width: 30px;
}
.m-slick .leftArrow{
    background-image: url(../images/icon-normal-s5b20ce4e80-8530a93965.png);
    background-repeat: no-repeat;
}
.m-slick .rightArrow {
    right: 26px;
}
.m-slick .slickArrow {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}
.m-slick .rightArrow {
    background-position: 0 -4640px;
    height: 30px;
    width: 30px;
}
.m-slick .rightArrow{
    background-image: url(../images/icon-normal-s5b20ce4e80-8530a93965.png);
    background-repeat: no-repeat;
}
